### Go
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.out

### Binaries / build outputs
gemfetch

### Editor / OS
.DS_Store
.idea/
.vscode/### Go
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.out

### Binaries / build outputs
gemfetch

### Editor / OS
.DS_Store
.idea/
.vscode/
